.App {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 120px 1fr;
  min-height: auto;
}

.App__nav {
  background-color: gray;
  color: black;
  grid-area: sidebar;
  min-height: 100vh;
  overflow: auto;
}



.App__header {
  background-color:#222629;
  color: black;
  grid-area: header;
  /* Remove to play with Icon */
  padding-left: 16px;
  padding-top: 32px;
}

/* TO color the hyper links within App */
.App__header a {
  margin-top: 20px;
  color: beige;
  text-decoration: underline;
}

.App__header > div {
  align-items: center;
}

.App__main {
  grid-area: main;
  overflow: auto;
}

.App__nav {
  background-color: #222629;
}

.group-row {
  display: flex;
  flex-direction: row;
}

.group-column {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

.logout-link {
  margin-right: 10px;
}

@media all and (max-width: 500px) {
  .App__nav li a{
    font-size: 16px;
  }
}